/* Custom fonts */

@font-face {
    font-family: 'Syne';
    src: url('../assets/fonts/syne/Syne-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Syne-bold';
    src: url('../assets/fonts/syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../assets/fonts/rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* END Custom fonts */
