@font-face {
    font-family: Raleway;
    src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: Raleway-bold;
    src: url("../assets/fonts/Raleway-Bold.ttf");
}
:root {
    --bg-color-main: #F5F5F5;
    --bg-color-baby-blue-eyes: #EAF2FD;
    --azul-100: #2A7AE4;
    --white: #FFFFFF;
    --middle-gray: #A2A2A2;
    --platinum-grey: #C8C8C8;
}
body {
    font-family: Raleway, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 320px;
    background-color: var(--bg-color-main);
}
* {
    box-sizing: border-box;
    font-weight: 400;
    color: #464646;
}
.arrow_back {
    width: 16px;
    height: 16px;
    background-image: url("../assets/icons/arrow_back_black.svg");
    background-position: center;
    background-repeat: no-repeat;
}
h2 {
    font-family: Raleway-bold, sans-serif;
    font-size: 1.65rem;
    text-align: center;
}
h3 {
    font-family: Raleway-bold, sans-serif;
    font-size: 1.25rem;
}
h4 {
    font-family: Raleway, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
