.formacion__section {
    background-color: var(--bg-color-baby-blue-eyes);
    padding: 32px;
}
.formacion__section .title_formacion__h2 {
    margin-bottom: 32px;
}
.formacion__section .experiences_container__div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}
.formacion__section .experiences_container__div .content_experience__div {
    width: 100%;
    max-width: 20cm;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}
.formacion__section .experiences_container__div .content_experience__div .link_experiences__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    max-width: 100%;
    min-height: 150px;
    padding: 10% 0;
    margin-bottom: 1rem;
}
.formacion__section .experiences_container__div .content_experience__div .link_experiences__link.dark {
    background-color: #000000;
}
.formacion__section .experiences_container__div .content_experience__div .link_experiences__link .experience__img {
    width: 30%;
    min-width: 150px;
}
.formacion__section .experiences_container__div .content_experience__div .experiencie_description__div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.formacion__section .experiences_container__div .content_experience__div .experiencie_description__div .title_description__h3 {
    text-align: start;
}
.formacion__section .experiences_container__div .content_experience__div .experiencie_description__div .description_date__p {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: start;
}
