/* Custom typography */
h1 {
    font-family: 'Syne-bold', sans-serif;
    font-size: 4vw;
    color: $white;
    text-align: center;
}
h2 {
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    color: $white;
    text-align: center;
}
h3 {
    font-family: 'Syne', sans-serif;
    font-size: 56px;
    color: $white;
    text-align: center;
}
h4 {
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 24px;
    color: $white;
    text-align: center;
}
.body-large {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: $medium-grey;
}
.body-medium {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: $medium-grey;
}
button {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: $white;
}

/* END Custom typography */
